@import "tailwindcss";

:root, body{
  padding:0px !important;
  max-width: 1200% !important;
  margin: 0px !important;
  overflow-x: hidden;
  color: #2e3535;
}

.loader{
  background-image: linear-gradient(182deg, rgb(19, 66, 154), rgb(1, 41, 108));
}